/*Variables*/
:root{
  --basic-background:  #888888;
  --basic-dark-grey:  #666666;
  --basic-darker-grey:  #444444;
  --basic-grey: #EEEEEE;
  --basic-white:#FFFFFF;
  --basic-black: #000000;
  --basic-black-filter: #283136;

  --nav-red-hover:#FB565A;
  --button-red-active: #FB565A;
  --button-red-hover: #E74246;
  --button-red-focus: #D7373B;
  --button-green-active: #00CA74;
  --button-green-hover: #00BC6C;
  --button-green-focus: #00AA62;
  --button-yellow-active: #EFC84A;
  --button-yellow-hover: #EAB534;
  --button-yellow-focus: #E5A722;
}
/* Global */
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--basic-white);
}

.visually-hidden{
  /*visibility: hidden;*/
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}
.page a {
  text-decoration: none;
}

/*img {
  max-width: 100%;
  height: auto;
}*/
/* Main navigation */
.main-navigation{
  font-size:16px;
  line-height: 30px;
  font-weight: 500;

}
.site-navigation{
  list-style: none;
}
/* User navigation */
.main-navigation a,
.site-navigation a,
.pagination-item a,
.sort-item a{
  color: var(--basic-black);
}
.main-navigation a:hover,
.site-navigation a:hover{
  color: var(--nav-red-hover);
}
.main-navigation a:focus,
.site-navigation a:focus,
.sort-item-no-current{
  color: var(--basic-black);
  opacity: 30%;
}
/*texts*/
.big-text{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
}
/* Products */
.products-list, .number-list, .example-list, .social-list, .template-list, .pagination-list, .sort-list{
  list-style: none;
}

.products-list{
  display: grid;
  grid-template-columns: 1FR 1fr 1fr;
}
.products-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
/*Slider*/
.slider, .main-header{
  background-color: var(--basic-grey);
}

/*Button*/
.button{
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}
.red-button{
  background-color: var(--button-red-active);
}

.green-button{
  background-color: var(--button-green-active);
}
.yellow-button{
  background-color: var(--button-yellow-active);
}
.filter-button{
  color: var(--basic-black);
  background-color: var(--basic-grey);
}
.about-us{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-us-full{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.about-us-list{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.number{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
.number-text{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

/* Contacts */
.contacts-phone {
  color: inherit;
}
.footer-social h2{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.contacts h2, .catalog-item-title, .filter-name{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts p, .catalog-item-legend{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-grey)
}
.discount{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-darker-grey)
}


/*catalog.html*/
.catalog-item-title, .filter-name, .sort-item{
  color: var(--basic-black);
  text-transform: uppercase;
}
.sort-item{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

}
.pagination-item, .filter-button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-option{
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color:var(--basic-black-filter);
  list-style: none;
}
