/*Variables*/
:root{
  --basic-background:  #888888;
  --basic-dark-grey:  #666666;
  --basic-darker-grey:  #444444;
  --basic-grey: #EEEEEE;
  --basic-white:#FFFFFF;
  --basic-black: #000000;
  --basic-black-filter: #283136;

  --nav-red-hover:#FB565A;
  --button-red-active: #FB565A;
  --button-red-hover: #E74246;
  --button-red-focus: #D7373B;
  --button-green-active: #00CA74;
  --button-green-hover: #00BC6C;
  --button-green-focus: #00AA62;
  --button-yellow-active: #EFC84A;
  --button-yellow-hover: #EAB534;
  --button-yellow-focus: #E5A722;
}
/* Global */
body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial,sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--basic-white);
}

.visually-hidden{
  /*visibility: hidden;*/
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;

}
img {
  max-width: 100%;
  height: auto;
}
.page a {
  text-decoration: none;
}
/*Grid*/
.page{
  height: :100%;
}
/*.page-body{
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr  min-content;
    align-content: start;
}*/
/* Main header */

.main-header {
  padding: 49px 0 9px;
}
/* Main navigation */
.main-navigation{
  box-sizing: border-box;
  display: grid;
  grid-template-columns: max-content 1fr min-content;/* 1fr min-content min-content;*/
  grid-template-areas: "logo site-menu basket";
  max-width:1200px;
  margin: 0 auto;
  padding: 0 20px;
  font-size:16px;
  line-height: 30px;
  font-weight: 500;
}
.main-header-logo{
  grid-area: logo;
  width: 160px;
  height: 65px;
}
.site-navigation{
  grid-area: site-menu;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.site-navigation li{
    margin-right: 45px;
}
.site-navigation a,
.basket-link {
  display: block;
  margin-top: 34px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}
.basket-link {
  grid-area: basket;
  display: flex;
}
.basket-link::before {
  content: url("../img/cart-icon.svg");

  width: 15px;
  height: 15px;
  margin-top: 2px;
  margin-right: 25px;
}
/* User navigation */
.main-navigation a,
.site-navigation a,
.pagination-item a,
.sort-item a{
  color: var(--basic-black);
}
.main-navigation a:hover,
.site-navigation a:hover{
  color: var(--nav-red-hover);
}
.main-navigation a:focus,
.site-navigation a:focus,
.sort-item-no-current{
  color: var(--basic-black);
  opacity: 30%;
}
/* Container */

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.none-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
/*texts*/

/* Products */
.products-list, .number-list, .example-list, .social-list, .template-list, .pagination-list, .sort-list{
  list-style: none;
}

.products-list{
  display: grid;
  grid-template-columns: 1fR 1fr 1fr;
  column-gap: 100px;
  padding: 0;
  margin: 0;
}

.products-item h3{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.products-item p{
  margin: 0 10px;
}
/*Slider*/
.slider{
  position: relative;
  background-color: var(--basic-grey);
}
.slider-list {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
  }
  .slider-item{
    position: relative;

  /*display: none;*/
    padding: 10px 20px;
  }
.slider-item::before {
    position: absolute;
    right: 23px;
    bottom: 0;

    max-width: 760px;
    max-height: 431px;

    line-height: 0;

    overflow: hidden;
  }
.slide-1::before {
    content: url("../img/nerds-index-slide1.png");
  }
.slide-2, .slide-3{
    display:none;
  }
.slide-content{
    position: relative;
    z-index: 1;
    width: 516px;
  }

.main-header{
  background-color: var(--basic-grey);
}
.slide-title{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 45px 0 0;
}
.slide-text{
   margin: 25px 0 38px;
}
.slide-button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 17px 55px 15px;
  vertical-align: inherit;
  margin-bottom: 63px;
  text-overflow: ellipsis;

  cursor: pointer;
  border-radius: 3px;
  overflow: hidden;
}
/*controls*/
.slider-controls{
  position: absolute;
  bottom: 96px;
  left: 50%;

  display: flex;
  flex-wrap: wrap;
  margin-left: -44px;
}
.control-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  margin-right: 17px;
  background-color: var(--basic-white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.index-columns{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
/*Button*/
.button{
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  border: none;
}
.red-button{
  background-color: var(--button-red-active);
}

.green-button{
  background-color: var(--button-green-active);
}
.yellow-button{
  background-color: var(--button-yellow-active);
}
.filter-button{
  color: var(--basic-black);
  background-color: var(--basic-grey);
}
.about-us{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}
.about-us-full{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.about-us-list{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}
.number{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}
.number-text{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.number-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0;
}
.example-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;

}

/* Contacts */
.contacts-phone {
  color: inherit;
}
.footer-social h2{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}

.contacts h2, .catalog-item-title, .filter-name{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts p, .catalog-item-legend{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-dark-grey)
}
.discount{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--basic-darker-grey);
  order: 2;
}

.contacts-map{
  display: grid;
  grid-template-columns: repeat(12, 60px);
  grid-template-rows: repeat(8, 52px);
  grid-column-gap: 40px;
}
.contact-text{
  grid-area:2/4/4/6;
  z-index: 1;
}
.contact-text p,.contact-text h2{
  background-color: var(--basic-white);
  padding: 0;
  margin: 0;
}
.contact-marker{
  grid-area:5/10/6/12;
  z-index: 1;
}
.contact-map{
  grid-area:1/1/9/16;
}
.footer-social{
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
}
.slogan{
  order:1;
}

}
/*catalog.html*/
.catalog-item-title, .filter-name, .sort-item{
  color: var(--basic-black);
  text-transform: uppercase;
}
.sort-item{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

}
.pagination-item, .filter-button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}
.filter-option{
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color:var(--basic-black-filter);
  list-style: none;
}
